<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.iu.s1.board.notice.NoticeDAO">
 	<sql id="noticeCondition">
 		WHERE
 		<!--  num = #{num} AND -->
 		<if test="kind == 'title'">
 			title like '%' || #{search} || '%'
 		</if>
 		<if test="kind == 'contents'">
 			contents like '%' || #{search} || '%'
 		</if>
 		<if test="kind == 'writer'">
 			writer like '%' || #{search} || '%'
 		</if>
 	</sql>
 	<select id="getTotalCount" parameterType="Pager" resultType="Integer">
 		SELECT COUNT(NUM) FROM NOTICE 
 		<include refid="noticeCondition"></include>
 	</select>
 	
 	<select id="getBoardList" parameterType="Pager" resultType="NoticeDTO">
 		SELECT * FROM(
 		SELECT ROWNUM R,A.* FROM(
 		SELECT NUM,TITLE,WRITER,REGDATE,HIT FROM NOTICE
 		<include refid="noticeCondition"></include>) A)
 		WHERE R BETWEEN #{startRow} AND #{lastRow}
 		ORDER BY NUM
 	</select>
 	
 	<!-- 상속 객체를 넘어주는걸로 만들었으면 MAPPER에서도 부모dto로 받아야함 -->
 	<insert id="setBoardAdd" parameterType="BbsDTO">
 		<selectKey order="BEFORE" keyProperty="num" resultType="Integer">
 			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 		INSERT INTO NOTICE (NUM,TITLE,CONTENTS,WRITER,REGDATE,HIT)
 		VALUES(#{num}, #{title},#{contents},#{writer},sysdate,0)
 	</insert>
 	
 	<select id="getBoardDetail" parameterType="BoardDTO" resultMap="getBoardJoinFile">
 		SELECT * FROM NOTICE N 
		LEFT JOIN NOTICEFILES N2 ON n.num = n2.NUM 
		WHERE n.num = #{num}
 	</select>
 	<resultMap type="NoticeDTO" id="getBoardJoinFile">
 		<id column="num" property="num"/>
 		<result column="title" property="title"/>
 		<result column="contents" property="contents"/>
 		<result column="writer" property="writer"/>
 		<result column="regDate" property="regDate"/>
 		<result column="hit" property="hit"/>
 		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
 			<id column="fileNum" property="fileNum"/>
 			<result column="num" property="num"/>
 			<result column="fileName" property="fileName"/>
 			<result column="oriName" property="oriName"/>
 		</collection>
 	</resultMap>
 	
 	<insert id="setBoardFileAdd" parameterType="BoardFileDTO">
 		<selectKey order="BEFORE" keyProperty="fileNum" resultType="Integer">
 			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 		INSERT INTO NOTICEFILES VALUES(#{fileNum},#{num},#{fileName},#{oriName})
 	</insert>
 	
 	<delete id="setBoardDelete" parameterType="BbsDTO">
 		DELETE NOTICE WHERE num = #{num}
 	</delete>
 	
 	<select id="getBoardFileList" parameterType="BbsDTO" resultType="BoardFileDTO">
 		SELECT * FROM NOTICEFILES WHERE NUM = #{num}
 	</select>
 </mapper>