<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.iu.s1.board.qna.QnaDAO">
 	<sql id="QnaCondition">
 		<trim prefix="WHERE" suffixOverrides="AND">
			<if test="kind == 'TITLE'">
				TITLE LIKE '%' || #{search} || '%'
			</if>
			<if test="kind == 'CONTENTS'">
				CONTENTS LIKE '%' || #{search} || '%'
			</if>
			<if test="kind == 'WRITER'">
				WRITER LIKE '%' || #{search} || '%'
			</if>
		</trim>
 	</sql>
 	
 	<select id="getBoardList" parameterType="Pager" resultType="QnaDTO">
 		SELECT * FROM (SELECT ROWNUM R,A.* 
 		FROM (
 			SELECT * FROM QNA 
 			<include refid="QnaCondition"></include> 
 			ORDER BY REF DESC, STEP ASC
 		)A )
 		WHERE R BETWEEN #{startRow} AND #{lastRow}
 	</select>
 	
 	<select id="getTotalCount" parameterType="Pager" resultType="Integer">
 		SELECT COUNT(NUM) FROM QNA
 		<include refid="QnaCondition"></include>
 	</select>
 	
 	<select id="getBoardDetail" parameterType="BoardDTO" resultType="QnaDTO">
 		SELECT * FROM QNA WHERE NUM = #{num}
 	</select>
 	
 	<insert id="setBoardAdd" parameterType="BbsDTO">
 		<selectKey order="BEFORE" keyProperty="num" resultType="Integer">
 			SELECT QNA_SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 		INSERT INTO QNA     
 		VALUES(#{num},#{title},#{contents},#{writer},sysdate,0,#{num},0,0)
 	</insert>
 	
 	<update id="setStepUpdate" parameterType="QnaDTO">
 		UPDATE QNA SET STEP = STEP + 1
 		WHERE REF = #{ref} AND STEP > #{step}
 	</update>
 	
 	<insert id="setReplyAdd" parameterType="QnaDTO">
 		INSERT INTO QNA     
 		VALUES(QNA_SEQ.NEXTVAL,#{title},#{contents},#{writer},sysdate,0,#{ref},#{step},#{depth})
 	</insert>
 </mapper>