<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.iu.s1.board.qna.QnaDAO">
 	<sql id="QnaCondition">
 		<trim prefix="WHERE" suffixOverrides="AND">
			<if test="kind == 'TITLE'">
				TITLE LIKE '%' || #{search} || '%'
			</if>
			<if test="kind == 'CONTENTS'">
				CONTENTS LIKE '%' || #{search} || '%'
			</if>
			<if test="kind == 'WRITER'">
				WRITER LIKE '%' || #{search} || '%'
			</if>
		</trim>
 	</sql>
 	
 	<select id="getBoardList" parameterType="Pager" resultType="QnaDTO">
 		SELECT * FROM (SELECT ROWNUM R,A.* 
 		FROM (
 			SELECT * FROM QNA 
 			<include refid="QnaCondition"></include> 
 			ORDER BY REF DESC, STEP ASC
 		)A )
 		WHERE R BETWEEN #{startRow} AND #{lastRow}
 	</select>
 	
 	<select id="getTotalCount" parameterType="Pager" resultType="Integer">
 		SELECT COUNT(NUM) FROM QNA
 		<include refid="QnaCondition"></include>
 	</select>
 	
 	<select id="getBoardDetail" parameterType="BoardDTO" resultMap="getBoardDetailResult">
 		SELECT * FROM QNA Q1 
		LEFT JOIN QNAFILES Q2 ON Q1.NUM = Q2.NUM
		WHERE Q1.NUM = #{num} 	
 	</select>
 	
 	<resultMap type="QnaDTO" id="getBoardDetailResult">
 		<id column="num" property="num"/>
 		<result column="title" property="title"/>
 		<result column="contents" property="contents"/>
 		<result column="writer" property="writer"/>
 		<result column="regDate" property="regDate"/>
 		<result column="hit" property="hit"/>
 		<result column="depth" property="depth"/>
 		
 		<!-- List<BoardFileDTO> boardFileDTOs; ofType = 제너릭 타입 반복문 돌아서 넣어줌-->
 		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
 			<id column="fileNum" property="fileNum"/>
 			<result column="fileName" property="fileName"/>
 			<result column="oriName" property="oriName"/>
 		</collection>
 		
 	</resultMap>
 	
 	<delete id="setBoardDelete" parameterType="BbsDTO">
 		DELETE QNA WHERE num = #{num}
 	</delete>
 	
 	
 	<insert id="setBoardAdd" parameterType="BbsDTO">
 		<selectKey order="BEFORE" keyProperty="num" resultType="Integer">
 			SELECT QNA_SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 		INSERT INTO QNA     
 		VALUES(#{num},#{title},#{contents},#{writer},sysdate,0,#{num},0,0)
 	</insert>
 	
 	<insert id="setBoardFileAdd" parameterType="BoardFileDTO">
 		<selectKey order="BEFORE" keyProperty="fileNum" resultType="Integer">
 			SELECT QNA_SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 		INSERT INTO QNAFILES VALUES(#{fileNum},#{num},#{fileName},#{oriName})
 	</insert>
 	
 	<update id="setStepUpdate" parameterType="QnaDTO">
 		UPDATE QNA SET STEP = STEP + 1
 		WHERE REF = #{ref} AND STEP > #{step}
 	</update>
 	
 	<insert id="setReplyAdd" parameterType="QnaDTO">
 		INSERT INTO QNA     
 		VALUES(QNA_SEQ.NEXTVAL,#{title},#{contents},#{writer},sysdate,0,#{ref},#{step},#{depth})
 	</insert>
 	
 	<select id="getBoardFileList" parameterType="BbsDTO" resultType="BoardFileDTO">
 		SELECT * FROM QNAFILES WHERE NUM = #{num}
 	</select>
 	
 	<select id="getBoardFileDetail" parameterType="BoardFileDTO" resultType="BoardFileDTO">
 		SELECT * FROM QNAFILES WHERE FILENUM = #{fileNum}
 	</select>
 </mapper>